
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    color: #cfb8b8;
}
.containerMain{
    display: flex;
    background: rgb(0, 0, 0);
} 


.menuPrincipal{
    position: fixed;
    background: #000000;
    width: 110px;
    height: 100vh;
    /*border-radius: 15px;*/
    z-index: 1 !important;
    .navigation { 
        position: absolute;
        inset: 20px 0 20px 20px;
        width: 75px;
        background:  linear-gradient(90deg in oklab, #0c0c11, #0d0d0f);;
        transition: 0.5s;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        .menuToggle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 23px;
            &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background: #ffffff;
            transform: translateY(-8px);
            transition: 0.5s;
            }
            &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background: #fff;
            transform: translateY(8px);
            transition: 0.5s;
            box-shadow: 0 -8px 0 #fff;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            li {
                list-style: none;
                position: relative;
                width: 100%;
                height: 60px;
                padding: 0 10px;
                transition: 0.5s;
                &.active{
                    transform: translateX(30px);
                    a{
                        .icon{
                            color: #fff;
                            background: var(--clr);
                            &::before{
                                opacity: 0.5;
                            }
                        }
                        .text{
                            color: var(--clr);
                        }
                    }
                }
                a{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: center;
                    text-decoration: none;
                    .icon{
                        position: relative;
                        display: block;
                        min-width: 55px;
                        height: 55px;
                        line-height: 60px;
                        transition: 0.5s;
                        border-radius: 10px;
                        font-size: 1.75em;
                        color: #fff;
                        &::before{
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: var(--clr);
                            filter: blur(8px);
                            opacity: 0;
                            transition: 0.5s;
                        }
                    }
                    .text{
                        position: relative;
                        padding: 0 15px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        color: #fff;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                    }

                }
            }
        }
        &.open .menuToggle::before{
            transform: translateY(0px) rotate(45deg);

        }
        &.open{
            width: 250px; 
        }
        &.open .menuToggle::after{
            transform: translateY(0px) rotate(-45deg);
            box-shadow: 0 0 0 #333;
        }
        &.open ul li.active{
            transform: translateX(10px);

        }
        &.open ul li a .text{
            opacity: 1;
            visibility: visible;
        }
    } 
}

.information{
    flex: 1;
    background: #000000; 
    margin-left:  110px; 
    width: 100vw; 
 
    .section{
        position: relative; 
        height: 100vh;
        display: flex;
        /*justify-content: center;*/
        /*padding-top: 20px;*/
        /*align-items: center;
        justify-content: center; */
        .nameHome{
            padding: 0px !important;
            display: grid;
            /*background: radial-gradient(circle, #141D28, #1A191D) !important;*/
            background: radial-gradient( closest-side, #283a4e , #000 )!important;
            border: 0px !important;
            width: 100% !important;
            height: 100% !important;
            box-sizing: none !important;
            align-items: center;
            justify-content: center;

            #title{
                h1{ 
                    span{
                        color: #d6a574;
                        position: relative;
                        padding: 0px !important; 
                        /*border: 0.1px solid #ffffff;*/
                        /*border-radius: 20px;*/
                        /*box-shadow: 1px 1px 2px #324374;*/
                        margin: 0px !important; 
                        /*background-color: #f9f9f9;*/ 
                        animation: fadeIn 4s ease-out;
                        text-shadow: 1px 1px 2px #000000 !important;
                        text-transform: uppercase;
                        /*box-sizing: border-box;*/
                        &::before {
                            content: '';
                            position: absolute;
                            /*top: -5px;
                            left: 50%;*/
                            /*transform: translateX(-50%);*/
                            width: 60px;
                            height: 60px;
                            background-image: url("../img/capybara.gif");  
                            background-size: cover;
                            /*background-repeat: no-repeat;*/
                            /*background-color: red;*/
                            border-radius: 50%;
                            animation: moveAround 15s linear infinite;
                        }
                    }
                    
                }
            }
            

        } 

        .name{
            position: relative;
            background: #000; /*#1A191D;
            width: 40% ;
            height: 600px;
            /*border: 1px solid #ccc;*/
            overflow: hidden;
            
            .textMenu{
                font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                text-transform:lowercase;
                color: #9cff98 !important;
                text-align: left !important;
                font-size: 31px !important;
                letter-spacing:normal;
                font-weight: 700;
                vertical-align: baseline;
                line-height: 37px;
            }
            h1{
                padding-top: 15px;
                text-align: center;
                color: #ffffff;
                font-size: 10vw;
                text-transform: uppercase;
                vertical-align: baseline;
                letter-spacing: 0.2vw;
                word-spacing: 0px;
                margin: 0px;
                font-weight: 600;
            }
            h2{
                color: #dcdcdc;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                letter-spacing: normal;
                vertical-align: -webkit-baseline-middle;
                word-spacing: 0px;
                margin: 0px;
                padding:  10px;

            }
            img{
                border: 1px solid #ee8a8a;
                width: 200px;
            }
            span {
                font-style: italic;
                color: #a0d12d;
                
                text-transform: lowercase;  
                font-weight: 500;
                padding: 5px !important;
              }
            
        } 
        .name::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 30px; /* Espacio superior deseado */
           
          }

    }
    /*.section::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 0);  
        position: absolute;
        bottom: 0;
        left: 0;
    }*/
    
}


/*footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }*/
  @keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}


@keyframes moveAround {
    0%, 100% {
        top: -5px;
        left: 50%;
    }
    12.5% {
        top: random(30%) - 5px;
        left: random(30%) + 50%;
    }
    25% {
        top: random(30%) + 30%;
        left: random(30%) + 70%;
    }
    37.5% {
        top: random(30%) + 70%;
        left: random(30%) + 70%;
    }
    50% {
        top: random(30%) + 70%;
        left: random(30%)  30%;
    }
    62.5% {
        top: random(30%) + 30%;
        left: random(30%) - 5px;
    }
    75% {
        top: random(30%) - 5px;
        left: random(30%) - 5px;
    }
    87.5% {
        top: random(30%) - 5px;
        left: random(30%) + 30%;
    }
}

@function random($max) {
    @return random($max) * 2;
}
